<section id="catalogue" class="content-sm" style="background-color: #E5DCD3">
  <div class="p-4 d-flex flex-column align-items-center justify-content-center">
    <h1
      class="p-hero fw-semibold text-center mt-4"
      style="font-size: 4rem; color: #2E2C2A"
    >BREAKFAST <br /> MENU</h1>
    <p
      class="text-center fw-semibold mt-4 reenie-beanie-regular"
      style="font-size: 1.33rem; color: #2E2C2A;"
    >From warm and smooth to cold and refreshing.<br />
      There are endless drink option to find and love at Coffee House.</p>
    <div class="d-flex flex-wrap gap-2 justify-content-center px-5">
      <button
        type="button"
        class="btn btn-outline-secondary rounded-full fw-semibold coffee-catalogue"
        style="border-radius: 2rem; border-color:#2E2C2A;"
      >Pancake</button>
      <button
        type="button"
        class="btn btn-outline-secondary rounded-full fw-semibold coffee-catalogue"
        style="border-radius: 2rem; border-color:#2E2C2A;"
      >Avocado Toast</button>
      <button
        type="button"
        class="btn btn-outline-secondary rounded-full fw-semibold coffee-catalogue"
        style="border-radius: 2rem; border-color:#2E2C2A;"
      >Hot Baked Goods</button>
      <button
        type="button"
        class="btn btn-outline-secondary rounded-full fw-semibold coffee-catalogue"
        style="border-radius: 2rem; border-color:#2E2C2A;"
      >Healthy Eating</button>
      <button
        type="button"
        class="btn btn-outline-secondary rounded-full fw-semibold coffee-catalogue"
        style="border-radius: 2rem; border-color:#2E2C2A;"
      >Nutrious Omelette</button>
    </div>

    <div id="blog-data">
    </div>
  </div>
</section>

{{! Catalogue md }}

<section id="catalogue" class="content-lg relative">
  <section
    class="px-5 py-3 rounded-xl container my-5"
    style="background-color: #efe7e0"
  >
    <div
      class="d-flex flex-column align-items-center justify-content-center w-100 rounded-lg"
    >
      <div class="d-flex justify-content-between align-items-center">
        <div
          class="d-flex flex-column justify-content-center align-items-start gap-1"
        >
          <h1
            class="p-hero fw-semibold text-start mt-4"
            style="font-size: 4rem; color: #2E2C2A"
          >OUR STORY</h1>
          <p
            class="text-start fw-semibold reenie-beanie-regular"
            style="font-size: 1.33rem; color: #2E2C2A;"
          >From warm and smooth to cold and refreshing.<br />
            There are endless drink option to find and love at Coffee House..</p>
        </div>
        <div class="d-flex flex-wrap gap-2 justify-content-end px-5 h-100">
          <button
            type="button"
            class="btn btn-outline-secondary fw-semibold coffee-catalogue"
            style="border-radius: 2rem; border-color:#2E2C2A; max-height:3rem;"
          >Cold Coffee</button>
          <button
            type="button"
            class="btn btn-outline-secondary fw-semibold coffee-catalogue"
            style="border-radius: 2rem; border-color:#2E2C2A; max-height:3rem;"
          >Craft Drinks</button>
          <button
            type="button"
            class="btn btn-outline-secondary fw-semibold coffee-catalogue"
            style="border-radius: 2rem; border-color:#2E2C2A; max-height:3rem;"
          >With Coconut Milk</button>
          <button
            type="button"
            class="btn btn-outline-secondary fw-semibold coffee-catalogue"
            style="border-radius: 2rem; border-color:#2E2C2A; max-height:3rem;"
          >Espresso Based</button>
          <button
            type="button"
            class="btn btn-outline-secondary fw-semibold coffee-catalogue"
            style="border-radius: 2rem; border-color:#2E2C2A; max-height:3rem;"
          >Cappucino/Latte</button>
        </div>
      </div>
      <section class="content-lg">
        <div id="content-catalogue">
          <div
            class="d-flex flex-wrap justify-content-between align-items-end mt-5 w-100"
          >
            {{!-- {{#each this}} --}}
            <div style="width: 24rem; height:30rem">
              <img
                src="https://www.health.com/thmb/YXxmAuCsJHtTWvSWPorjVx1F7AQ=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Health-GettyImages-TypesOfCoffee-b8f6f7382a1443109f74edb1050f9808.jpg"
                class="mb-2 rounded-lg object-fit-cover h-75 w-100"
                alt="{{title}}"
                style="border-radius: 0.5rem;"
              />
              <div
                class="p-2 d-flex justify-content-between align-items-center"
              >
                <h5 class="card-title w-50">Bavarian Cappucinno</h5>
                <div
                  class="d-flex flex-column justify-self-center align-self-center"
                >
                  <span
                    class="fw-semibold"
                    style="color: #D78325; font-size:1.2rem"
                  >$3.20<br /></span>
                  <span style="font-weight: 400; font-size:0.8rem">500ml</span>
                </div>
              </div>
            </div>

            <div style="width: 24rem; height:30rem">
              <img
                src="https://www.health.com/thmb/YXxmAuCsJHtTWvSWPorjVx1F7AQ=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Health-GettyImages-TypesOfCoffee-b8f6f7382a1443109f74edb1050f9808.jpg"
                class="mb-2 rounded-lg object-fit-cover h-75 w-100"
                alt="{{title}}"
                style="border-radius: 0.5rem;"
              />
              <div
                class="p-2 d-flex justify-content-between align-items-center"
              >
                <h5 class="card-title w-50">Bavarian Cappucinno</h5>
                <div
                  class="d-flex flex-column justify-self-center align-self-center"
                >
                  <span
                    class="fw-semibold"
                    style="color: #D78325; font-size:1.2rem"
                  >$3.20<br /></span>
                  <span style="font-weight: 400; font-size:0.8rem">500ml</span>
                </div>
              </div>
            </div>

            <div style="width: 24rem; height: 30rem">
              <img
                src="https://www.health.com/thmb/YXxmAuCsJHtTWvSWPorjVx1F7AQ=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Health-GettyImages-TypesOfCoffee-b8f6f7382a1443109f74edb1050f9808.jpg"
                class="mb-2 rounded-lg object-fit-cover h-75 w-100"
                alt="{{title}}"
                style="border-radius: 0.5rem;"
              />
              <div
                class="p-2 d-flex justify-content-between align-items-center"
              >
                <h5 class="card-title w-50">Bavarian Cappucinno</h5>
                <div
                  class="d-flex flex-column justify-self-center align-self-center"
                >
                  <span
                    class="fw-semibold"
                    style="color: #D78325; font-size:1.2rem"
                  >$3.20<br /></span>
                  <span style="font-weight: 400; font-size:0.8rem">500ml</span>
                </div>
              </div>
            </div>

            <div style="width: 24rem; height: 30rem">
              <img
                src="https://www.health.com/thmb/YXxmAuCsJHtTWvSWPorjVx1F7AQ=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Health-GettyImages-TypesOfCoffee-b8f6f7382a1443109f74edb1050f9808.jpg"
                class="mb-2 rounded-lg object-fit-cover h-75 w-100"
                alt="{{title}}"
                style="border-radius: 0.5rem;"
              />
              <div
                class="p-2 d-flex justify-content-between align-items-center"
              >
                <h5 class="card-title w-50">Bavarian Cappucinno</h5>
                <div
                  class="d-flex flex-column justify-self-center align-self-center"
                >
                  <span
                    class="fw-semibold"
                    style="color: #D78325; font-size:1.2rem"
                  >$3.20<br /></span>
                  <span style="font-weight: 400; font-size:0.8rem">500ml</span>
                </div>
              </div>
            </div>

            <div style="width: 24rem; height: 30rem">
              <img
                src="https://www.health.com/thmb/YXxmAuCsJHtTWvSWPorjVx1F7AQ=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Health-GettyImages-TypesOfCoffee-b8f6f7382a1443109f74edb1050f9808.jpg"
                class="mb-2 rounded-lg object-fit-cover h-75 w-100"
                alt="{{title}}"
                style="border-radius: 0.5rem;"
              />
              <div
                class="p-2 d-flex justify-content-between align-items-center"
              >
                <h5 class="card-title w-50">Bavarian Cappucinno</h5>
                <div
                  class="d-flex flex-column justify-self-center align-self-center"
                >
                  <span
                    class="fw-semibold"
                    style="color: #D78325; font-size:1.2rem"
                  >$3.20<br /></span>
                  <span style="font-weight: 400; font-size:0.8rem">500ml</span>
                </div>
              </div>
            </div>

            <div style="width: 24rem; height: 30rem">
              <img
                src="https://www.health.com/thmb/YXxmAuCsJHtTWvSWPorjVx1F7AQ=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Health-GettyImages-TypesOfCoffee-b8f6f7382a1443109f74edb1050f9808.jpg"
                class="mb-2 rounded-lg object-fit-cover h-75 w-100"
                alt="{{title}}"
                style="border-radius: 0.5rem;"
              />
              <div
                class="p-2 d-flex justify-content-between align-items-center"
              >
                <h5 class="card-title w-50">Bavarian Cappucinno</h5>
                <div
                  class="d-flex flex-column justify-self-center align-self-center"
                >
                  <span
                    class="fw-semibold"
                    style="color: #D78325; font-size:1.2rem"
                  >$3.20<br /></span>
                  <span style="font-weight: 400; font-size:0.8rem">500ml</span>
                </div>
              </div>
            </div>
            {{!-- {{/each}} --}}
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a
                    class="page-link"
                    href="#"
                    aria-label="Previous"
                    id="prev-page"
                  >
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item"><a
                    class="page-link"
                    href="#"
                    data-index="0"
                  >1</a></li>
                <li class="page-item"><a
                    class="page-link"
                    href="#"
                    data-index="1"
                  >2</a></li>
                <li class="page-item"><a
                    class="page-link"
                    href="#"
                    data-index="2"
                  >3</a></li>
                <li class="page-item">
                  <a
                    class="page-link"
                    href="#"
                    aria-label="Next"
                    id="next-page"
                  >
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </section>
    </div>
  </section>
  <div
    style="background-color: #935831; position: absolute; bottom: -120px; left: 1600px; z-index: -1; width: 25%; height: 100rem;"
  >
  </div>
  <div
    style="background-color: #935831; position: absolute; top: -120px; left: 1000px; z-index: -1; width: 45%; height: 8rem;"
    class="rounded-xl"
  >
  </div>
</section>